@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{

  font-family: 'Inter', sans-serif;
  

}
.modal{
   background: rgba(47, 27, 73, 0.3);
}
.back{
  background: rgba(0, 0, 0, 0.11);
}
.card{
  background: rgba(255, 255, 255, 1);
}